// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018-2020 PHYTEC America, LLC - https://www.phytec.com
 */

#include <dt-bindings/phy/phy.h>

/ {
	model = "PHYTEC phyCORE-AM65x Carrier Board";
	compatible = "phytec,am65xx-pcm-941", "phytec,am65xx-phycore-som", "ti,am654";

	aliases {
		ethernet1 = &pruss1_emac0;
		ethernet2 = &pruss1_emac1;
	};

	chosen {
		/* UART1 as default stdout path */
		stdout-path = &main_uart1;
		bootargs = "earlycon=ns16550a,mmio32,0x02810000";
	};

	display: display {
		status = "disabled";
		pinctrl-names = "default";
		pinctrl-0 = <&display_backlight_en_pin>;

		backlight = <&display_backlight>;
		enable-gpios = <&main_gpio1 57 GPIO_ACTIVE_LOW>;
	};

	display_backlight: display_backlight {
		status = "disabled";
		compatible = "pwm-backlight";
		pwms = <&ecap0 0 50000 0>;
	};

	/* fan set always on */
	gpio_fan: gpio_fan {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_fan_pins_default>;

		fan@0 {
			label = "am65xx-pcm-941:fan";
			gpios = <&main_gpio1 49 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	/* Dual Ethernet application node on PRU-ICSSG1 */
	pruss1_eth: pruss1_eth {
		compatible = "ti,am654-icssg-prueth";
		pinctrl-names = "default";
		pinctrl-0 = <&icssg1_rgmii_pins_default>;
		sram = <&msmc_ram>;
		prus = <&pru1_0>, <&rtu1_0>, <&tx_pru1_0>, <&pru1_1>, <&rtu1_1>, <&tx_pru1_1>;
		firmware-name = "ti-pruss/am65x-sr2-pru0-prueth-fw.elf",
				"ti-pruss/am65x-sr2-rtu0-prueth-fw.elf",
				"ti-pruss/am65x-sr2-txpru0-prueth-fw.elf",
				"ti-pruss/am65x-sr2-pru1-prueth-fw.elf",
				"ti-pruss/am65x-sr2-rtu1-prueth-fw.elf",
				"ti-pruss/am65x-sr2-txpru1-prueth-fw.elf";

		ti,pruss-gp-mux-sel = <2>,	/* MII mode */
				      <2>,
				      <2>,
				      <2>,	/* MII mode */
				      <2>,
				      <2>;
		mii-g-rt = <&icssg1_mii_g_rt>;
		mii-rt = <&icssg1_mii_rt>;
		dma-coherent;
		dmas = <&main_udmap 0xc200>, /* egress slice 0 */
		       <&main_udmap 0xc201>, /* egress slice 0 */
		       <&main_udmap 0xc202>, /* egress slice 0 */
		       <&main_udmap 0xc203>, /* egress slice 0 */
		       <&main_udmap 0xc204>, /* egress slice 1 */
		       <&main_udmap 0xc205>, /* egress slice 1 */
		       <&main_udmap 0xc206>, /* egress slice 1 */
		       <&main_udmap 0xc207>, /* egress slice 1 */

		       <&main_udmap 0x4200>, /* ingress slice 0 */
		       <&main_udmap 0x4201>, /* ingress slice 1 */
		       <&main_udmap 0x4202>, /* mgmnt rsp slice 0 */
		       <&main_udmap 0x4203>; /* mgmnt rsp slice 1 */
		dma-names = "tx0-0", "tx0-1", "tx0-2", "tx0-3",
			    "tx1-0", "tx1-1", "tx1-2", "tx1-3",
			    "rx0", "rx1",
			    "rxmgm0", "rxmgm1";

		pruss1_emac0: ethernet-mii0 {
			phy-handle = <&pruss1_eth1_phy>;
			phy-mode = "rgmii-rxid";
			interrupts-extended = <&icssg1_intc 24>;
			syscon-rgmii-delay = <&scm_conf 0x4110>;
			iep = <&icssg1_iep0>;
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};

		pruss1_emac1: ethernet-mii1 {
			phy-handle = <&pruss1_eth2_phy>;
			phy-mode = "rgmii-rxid";
			interrupts-extended = <&icssg1_intc 25>;
			syscon-rgmii-delay = <&scm_conf 0x4114>;
			/* Filled in by bootloader */
			local-mac-address = [00 00 00 00 00 00];
		};
	};
};

&main_pmx0 {
	display_backlight_en_pin: display_backlight_en_pin {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0264, PIN_OUTPUT, 7)	/* (W27) PRG0_PRU1_GPO8.GPIO1_57 */
		>;
	};

	gpio_fan_pins_default: gpio_fan_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0244, PIN_OUTPUT, 7)	/* (AB28) PRG0_PRU1_GPO0.GPIO1_49 */
		>;
	};

	icssg1_mdio_pins_default: icssg1_mdio_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0180, PIN_INPUT, 0)	/* (AD18) PRG1_MDIO0_MDIO */
			AM65X_IOPAD(0x0184, PIN_OUTPUT, 0)	/* (AH18) PRG1_MDIO0_MDC */
		>;
	};

	icssg1_rgmii_pins_default: icssg1_rgmii_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x00e0, PIN_INPUT, 2)	/* (AE22) PRG1_PRU0_GPO0.PRG1_RGMII1_RD0 */
			AM65X_IOPAD(0x00e4, PIN_INPUT, 2)	/* (AG24) PRG1_PRU0_GPO1.PRG1_RGMII1_RD1 */
			AM65X_IOPAD(0x00e8, PIN_INPUT, 2)	/* (AF23) PRG1_PRU0_GPO2.PRG1_RGMII1_RD2 */
			AM65X_IOPAD(0x00ec, PIN_INPUT, 2)	/* (AD21) PRG1_PRU0_GPO3.PRG1_RGMII1_RD3 */
			AM65X_IOPAD(0x00f0, PIN_INPUT, 2)	/* (AG23) PRG1_PRU0_GPO4.PRG1_RGMII1_RX_CTL */
			AM65X_IOPAD(0x00f8, PIN_INPUT, 2)	/* (AF22) PRG1_PRU0_GPO6.PRG1_RGMII1_RXC */
			AM65X_IOPAD(0x010c, PIN_OUTPUT, 2)	/* (AF21) PRG1_PRU0_GPO11.PRG1_RGMII1_TX_CTL */
			AM65X_IOPAD(0x0110, PIN_OUTPUT, 2)	/* (AH20) PRG1_PRU0_GPO12.PRG1_RGMII1_TD0 */
			AM65X_IOPAD(0x0114, PIN_OUTPUT, 2)	/* (AH21) PRG1_PRU0_GPO13.PRG1_RGMII1_TD1 */
			AM65X_IOPAD(0x0118, PIN_OUTPUT, 2)	/* (AG20) PRG1_PRU0_GPO14.PRG1_RGMII1_TD2 */
			AM65X_IOPAD(0x011c, PIN_OUTPUT, 2)	/* (AD19) PRG1_PRU0_GPO15.PRG1_RGMII1_TD3 */
			AM65X_IOPAD(0x0120, PIN_INPUT, 2)	/* (AD20) PRG1_PRU0_GPO16.PRG1_RGMII1_TXC */

			AM65X_IOPAD(0x0130, PIN_INPUT, 2)	/* (AH24) PRG1_PRU1_GPO0.PRG1_RGMII2_RD0 */
			AM65X_IOPAD(0x0134, PIN_INPUT, 2)	/* (AH23) PRG1_PRU1_GPO1.PRG1_RGMII2_RD1 */
			AM65X_IOPAD(0x0138, PIN_INPUT, 2)	/* (AG21) PRG1_PRU1_GPO2.PRG1_RGMII2_RD2 */
			AM65X_IOPAD(0x013c, PIN_INPUT, 2)	/* (AH22) PRG1_PRU1_GPO3.PRG1_RGMII2_RD3 */
			AM65X_IOPAD(0x0140, PIN_INPUT, 2)	/* (AE21) PRG1_PRU1_GPO4.PRG1_RGMII2_RX_CTL */
			AM65X_IOPAD(0x0148, PIN_INPUT, 2)	/* (AG22) PRG1_PRU1_GPO6.PRG1_RGMII2_RXC */
			AM65X_IOPAD(0x015c, PIN_OUTPUT, 2)	/* (AC20) PRG1_PRU1_GPO11.PRG1_RGMII2_TX_CTL */
			AM65X_IOPAD(0x0160, PIN_OUTPUT, 2)	/* (AE20) PRG1_PRU1_GPO12.PRG1_RGMII2_TD0 */
			AM65X_IOPAD(0x0164, PIN_OUTPUT, 2)	/* (AF19) PRG1_PRU1_GPO13.PRG1_RGMII2_TD1 */
			AM65X_IOPAD(0x0168, PIN_OUTPUT, 2)	/* (AH19) PRG1_PRU1_GPO14.PRG1_RGMII2_TD2 */
			AM65X_IOPAD(0x016c, PIN_OUTPUT, 2)	/* (AG19) PRG1_PRU1_GPO15.PRG1_RGMII2_TD3 */
			AM65X_IOPAD(0x0170, PIN_INPUT, 2)	/* (AE19) PRG1_PRU1_GPO16.PRG1_RGMII2_TXC */
		>;
	};

	touchscreen_irq_pin: touchscreen_irq_pin {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x025c, PIN_INPUT, 7)	/* (AB27) PRG0_PRU1_GPO6.GPIO1_55 */
		>;
	};

	main_uart1_pins_default: main_uart1_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x014c, PIN_OUTPUT, 6)	/* (AD23) PRG1_PRU1GPO6.UART1_TXD */
			AM65X_IOPAD(0x0174, PIN_INPUT, 6)	/* (AE23) PRG1_PRU1GPO17.UART1_RXD */
			AM65X_IOPAD(0x0178, PIN_INPUT, 6)	/* (AD22) PRG1_PRU1GPO18.UART1_CTS */
			AM65X_IOPAD(0x017c, PIN_OUTPUT, 6)	/* (AC21) PRG1_PRU1GPO19.UART1_RTS */
		>;
	};

	main_uart2_pins_default: main_uart2_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0260, PIN_OUTPUT, 6)	/* (W28) PRG0_PRU1_GPO7.UART2_TXD */
			AM65X_IOPAD(0x0288, PIN_INPUT, 6)	/* (Y27) PRG0_PRU1_GPO17.UART2_RXD */
			AM65X_IOPAD(0x028c, PIN_INPUT, 6)	/* (Y26) PRG0_PRU1_GPO18.UART2_CTS */
			AM65X_IOPAD(0x0290, PIN_OUTPUT, 6)	/* (W26) PRG_PRU1_GPO19.UART2_RTS */
		>;
	};

	usb1_pins_default: usb1_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x02c0, PIN_OUTPUT, 0)	/* (AC8) USB1_DRVVBUS */
		>;
	};
};

&main_pmx1 {
	ecap0_pins_default: ecap0_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0010, PIN_INPUT, 0)	/* (D21) ECAP0_IN_APWM_OUT */
		>;
	};
};

&wkup_pmx0 {
	mcu_fss0_ospi0_pins_default: mcu_fss0_ospi0_pins_default {
		pinctrl-single,pins = <
			AM65X_WKUP_IOPAD(0x0000, PIN_OUTPUT_PULLDOWN, 0)	/* (V1) MCU_OSPI0_CLK */
			AM65X_WKUP_IOPAD(0x0008, PIN_INPUT, 0)			/* (U2) MCU_OSPI0_DQS */
			AM65X_WKUP_IOPAD(0x000c, PIN_INPUT, 0)			/* (U4) MCU_OSPI0_D0 */
			AM65X_WKUP_IOPAD(0x0010, PIN_INPUT, 0)			/* (U5) MCU_OSPI0_D1 */
			AM65X_WKUP_IOPAD(0x0014, PIN_INPUT_PULLUP, 0)		/* (T2) MCU_OSPI0_D2 */
			AM65X_WKUP_IOPAD(0x0018, PIN_INPUT, 0)			/* (T3) MCU_OSPI0_D3 */
			AM65X_WKUP_IOPAD(0x001c, PIN_INPUT, 0)			/* (T4) MCU_OSPI0_D4 */
			AM65X_WKUP_IOPAD(0x0020, PIN_INPUT, 0)			/* (T5) MCU_OSPI0_D5 */
			AM65X_WKUP_IOPAD(0x0024, PIN_INPUT, 0)			/* (R2) MCU_OSPI0_D6 */
			AM65X_WKUP_IOPAD(0x0028, PIN_INPUT, 0)			/* (R3) MCU_OSPI0_D7 */
			AM65X_WKUP_IOPAD(0x002c, PIN_OUTPUT, 0)			/* (R4) MCU_OSPI0_CSn0 */
		>;
	};

	mcu_mcan0_pins_default: mcu_mcan0_pins_default {
		pinctrl-single,pins = <
			AM65X_WKUP_IOPAD(0x00a8, PIN_OUTPUT_PULLUP, 0)	/* (W1) MCU_MCAN0_TX */
			AM65X_WKUP_IOPAD(0x00ac, PIN_INPUT_PULLUP, 0)	/* (W2) MCU_MCAN0_RX */
		>;
	};

	mcu_uart0_pins_default: mcu_uart0_pins_default {
		pinctrl-single,pins = <
			AM65X_IOPAD(0x0044, PIN_INPUT, 4)	/* (P4) PRG0_PRU1_GPO17.UART2_RXD */
			AM65X_IOPAD(0x0048, PIN_OUTPUT, 4)	/* (P5) PRG0_PRU1_GPO7.UART2_TXD */
			AM65X_IOPAD(0x004c, PIN_INPUT, 4)	/* (P1) PRG0_PRU1_GPO18.UART2_CTS */
			AM65X_IOPAD(0x0054, PIN_OUTPUT, 4)	/* (N3) PRG_PRU1_GPO19.UART2_RTS */
		>;
	};
};

&icssg1_mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&icssg1_mdio_pins_default>;

	pruss1_eth1_phy: ethernet-phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,led-0-active-low;
		ti,led-2-active-low;
	};

	pruss1_eth2_phy: ethernet-phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,led-0-active-low;
		ti,led-2-active-low;
	};
};

&dss_ports {
	display_port: port {
		status = "disabled";

		reg = <0>;
	};
};

&ecap0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&ecap0_pins_default>;
};

&main_i2c0 {
	ft5x06: ft5x06@38 {
		status = "disabled";
		pinctrl-names = "default";
		pinctrl-0 = <&touchscreen_irq_pin>;
		interrupt-parent = <&main_gpio1>;
		interrupts = <55 IRQ_TYPE_NONE>;
	};
};

&m_can0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_mcan0_pins_default>;

	can-transceiver {
		max-bitrate = <1000000>;
	};
};

&sdhci1 {
	status = "okay";
};

&ospi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_fss0_ospi0_pins_default>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <8>;
		spi-rx-bus-width = <8>;
		spi-max-frequency = <25000000>;
		cdns,tshsl-ns = <60>;
		cdns,tsd2d-ns = <60>;
		cdns,tchsh-ns = <60>;
		cdns,tslch-ns = <60>;
		cdns,read-delay = <0>;
		cdns,phy-mode;
		#address-cells = <1>;
		#size-cells = <1>;
		partition@3fe0000 {
			label = "ospi.phypattern";
			reg = <0x3fe0000 0x20000>;
		};
	};
};

&pcie0_ep {
	status = "disabled";
};

&pcie0_rc {
	status = "disabled";
};

&pcie1_ep {
	status = "disabled";
};

&pcie1_rc {
	status = "okay";
	num-lanes = <1>;
	phys = <&serdes1 PHY_TYPE_PCIE 0>;
	phy-names = "pcie-phy0";
};

&serdes1 {
	status = "okay";
};

&mcu_uart0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mcu_uart0_pins_default>;
};

&main_uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart1_pins_default>;
};

&main_uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&main_uart2_pins_default>;
};

&dwc3_1 {
	status = "okay";
};

&usb1_phy {
	status = "okay";
};

&usb1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&usb1_pins_default>;
	dr_mode = "otg";
};
