// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2018-2020 PHYTEC America, LLC - https://www.phytec.com
 */

/ {
	model = "PHYTEC phyCORE-AM65x Carrier Board";
	compatible = "phytec,am65xx-pcm-941", "phytec,am65xx-phycore-som", "ti,am654";
};

&sdhci1 {
	status = "okay";
};
